.app {
  margin: auto;

  &[data-state] {
    .ui-loading,
    .ui-screen-half,
    .ui-screen-full {
      --bg: rgba(255, 255, 255, 0.4);
      background-color: var(--bg);
      position: relative;
      display: none;
    }
  }

  &[data-state='loading'] {
    > .ui-loading {
      display: flex;
    }
  }
  &[data-state='half'] {
    > .ui-screen-half {
      display: flex;
    }
  }
  &[data-state='full'] {
    > .ui-screen-full {
      display: grid;
    }
  }
}
