.load-square-container {
  width: 3.5em;
  height: 3.5em;
  text-align: center;
  direction: rtl;
}

.load-square {
  --animation-duration-first-row: 4s;
  --animation-duration-second-row: calc(var(--animation-duration-first-row) - 1.25s);
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: black;
  margin: 0.25em;
  animation-name: load-square-move;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  opacity: 0;
  color: #fff;

  &:nth-child(1) {
    animation-delay: 0.1s;
    animation-duration: var(--animation-duration-first-row);
  }

  &:nth-child(2) {
    animation-delay: 0.3s;
    animation-duration: var(--animation-duration-first-row);
  }

  &:nth-child(3) {
    animation-delay: 0.65s;
    animation-duration: var(--animation-duration-second-row);
  }

  &:nth-child(4) {
    animation-delay: 0.9s;
    animation-duration: var(--animation-duration-second-row);
  }
}

@keyframes load-square-move {
  0% {
    opacity: 0;
    transform: translateX(-50vw) scale(0.35) skew(30deg);
    animation-timing-function: cubic-bezier(0.62, 0.01, 0, 0.98);
  }
  40%,
  50% {
    opacity: 1;
    transform: translateX(0) scale(1) skew(0);
  }
  100% {
    opacity: 0;
    transform: translateX(50vw) scale(0.35) skew(-30deg);
    animation-timing-function: cubic-bezier(0.92, 0.01, 0.51, 0.98);
  }
}
